# Go
bin/
*.exe
*.test
*.out

# Dependency directories
vendor/
*.mod
*.sum

# Logs
*.log

# IDEs & editors
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Binaries / temporary
*.db-journal
*.bak

# Base de données locale
*.db

# Web static cache
web/static/uploads/
web/static/images/

# Env files (si tu en utilises un jour)
.env
.env.*

# Archives
*.zip
